@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Neutral */
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%); 
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);

    /* Red */
    --red-700: hsl(3, 77%, 44%);
    --red-500: hsl(3, 71%, 56%);
    --red-400: hsl(3, 86%, 64%);

    /* Gradient */
    --gradient-light: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
    --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);

    /* Font */
    --font-noto: 'Noto Sans', sans-serif;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    --fs-p: 16px;
}

body {
    font-family: var(--font-noto);
    background-color: var(--neutral-200);
    color: var(--neutral-900);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Mobile light theme */

main {
    max-width: 600px;
    padding: 2rem;
}

.filter-button {
    border-radius: 50px;
    padding: 0.5rem 1rem;
}

.logo {
    gap: 0.5rem;
    background-color: var(--neutral-0);
    margin-top: 1rem;
    padding: 0.3rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.logo button {
    cursor: pointer;
    border: none;
    padding: 0.4rem;
    border-radius: 10px;
    margin-left: 3rem;
}

.extensions-logo {
    scale: 0.9;
}

.button-toggle {
    scale: 0.7;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: var(--fw-700);
}

.filter-buttons button {
    background-color: var(--neutral-0);
    border: none;
    color: var(--neutral-900);
    font-size: var(--fs-p);
    font-weight: var(--fw-500);
    margin: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-buttons button.selected {
    background-color: var(--red-700);
}