@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Neutral */
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%); 
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);

    /* Red */
    --red-700: hsl(3, 77%, 44%);
    --red-500: hsl(3, 71%, 56%);
    --red-400: hsl(3, 86%, 64%);

    /* Gradient */
    --gradient-light: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
    --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);

    /* Font */
    --font-noto: 'Noto Sans', sans-serif;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    --fs-p: 16px;

    /* Theme Colors */
    --card-bg: var(--neutral-0);
    --page-bg: var(--neutral-200);
    --text-color: var(--neutral-900);
    --button-bg: var(--neutral-100);

    /* Switch Dimensions */
    --width-of-switch: 2rem;
    --height-of-switch: 1rem;
    --size-of-icon: 0.8rem;
    --slider-offset: 1.1rem;
}

/* Mobile light theme */

body {
    font-family: var(--font-noto);
    background-color: var(--page-bg);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body.dark-theme {
    --card-bg: var(--neutral-700);
    --page-bg: var(--neutral-900);
    --text-color: var(--neutral-0);
    --button-bg: var(--neutral-600);
}

/* Mobile Dark Theme */
.dark-theme {
    background-color: var(--neutral-800);
    color: var(--neutral-0);
}

.dark-card {
    background-color: var(--neutral-700);
    color: var(--neutral-0);
}


.dark-button {
    background-color: var(--neutral-700);
    color: var(--neutral-0);
}


main {
    max-width: 600px;
    padding: 1rem;
}

.filter-button {
    border-radius: 50px;
    padding: 0.5rem 1rem;
}

.logo {
    gap: 0.5rem;
    background-color: var(--card-bg);
    color: var(--text-color);
    margin-top: 1rem;
    padding: 0.3rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.logo button {
    cursor: pointer;
    background-color: var(--button-bg);
    color: var(--text-color);
    border: none;
    padding: 0.4rem;
    border-radius: 10px;
    margin-left: 3rem;
}

.extensions-logo {
    scale: 0.9;
    color: var(--text-color);
}

.button-toggle {
    scale: 0.7;
    background-image: url("icon-moon.svg");
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 0.7rem;
    font-weight: var(--fw-700);
}

.filter-buttons button {
    background-color: var(--card-bg);
    border: none;
    color: var(--text-color);
    font-size: var(--fs-p);
    font-weight: var(--fw-500);
    margin-bottom: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    font-family: var(--font-noto);
    font-weight: var(--fw-500);
}

.selected {
    background-color: var(--red-700);
    color: var(--neutral-0);
}

.card {
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.card-top {
    display: flex;
    gap: 1rem;
}

.card-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extensions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extensions img {
    margin-bottom: auto;
}

.remove-button {
    background-color: var(--neutral-0);
    color: var(--neutral-900);
    border: 1px solid var(--neutral-300);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    cursor: pointer;
}

.remove-button.dark-button {
    background-color: var(--neutral-700);
    color: var(--neutral-0);
    border: 1px solid var(--neutral-600);
}

.remove-button:hover {
    scale: 1.1;
    transition: 0.3s ease;
}

/* Slider Toggle Switch */
.switch input {
    opacity: 0;
    height: 0;
    width: 0;
}

.switch {
    display: block;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--red-700);
    transition: 0.4s;
    border-radius: 30px;
}

.slider::before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1em);
    width: var(--size-of-icon, 1em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--neutral-0); 
    transition: 0.4s;
}

input:checked + .slider {
    background: var(--neutral-300);
}

input:checked + .slider::before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)))
}